body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

div {
  width: 50%;
  height: 100vh;
  color: #fff;
}

div h2 {
  margin: 20px;
}

.left {
  background-color: orange;
}

.right {
  background-color: cornflowerblue;
}